[Unit]
Description=MX2S-tiltwheel daemon
After=graphical-session.target

[Service]
ExecStart=/usr/local/bin/mx2s-tiltkeys-linux
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
